.Map_Sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-items: center;
    margin-top: 100px;
}
.Map_Sec div{
    font-size: 36px;
    color: navy;
    font-weight: 545;
}
.Map_Sec p{
    color: grey;
    font-size: 18px;
}